@import "tailwindcss";

@theme {
  --color-bg: var(--background);
  --color-bg2: var(--secondary-background);
  --color-fg: var(--foreground);
  --color-main: var(--main);
  --color-main-fg: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-base: 5px;
  --shadow-neo: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  --spacing-shadow-x: var(--box-shadow-x);
  --spacing-shadow-y: var(--box-shadow-y);

  --font-weight-heading: 700;
  --font-weight-base: 500;

  --font-heading: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-base: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;

  /* Light mode (default) */
  --background: oklch(93.46% 0.0304 254.32);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main: oklch(67.47% 0.1725 259.61);
  --main-foreground: oklch(0% 0 0);
  --border: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --ring: oklch(0% 0 0);

  /* Chart palette */
  --chart-1: oklch(67.47% 0.1726 259.49);
  --chart-2: oklch(67.28% 0.2147 24.22);
  --chart-3: oklch(86.03% 0.176 92.36);
  --chart-4: oklch(79.76% 0.2044 153.08);
  --chart-5: oklch(66.34% 0.1806 277.2);
}

/* Dark mode overrides */
.dark {
  --background: oklch(29.12% 0.0633 270.86);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --border: oklch(92.49% 0 0);
  --ring: oklch(100% 0 0);
  --main: oklch(67.47% 0.1725 259.61);
  --main-foreground: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
}
